
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(186, 164, 238);

  color: black;
  font-size: 1.8rem;
}

html {
  scroll-behavior: smooth;
  min-width: content;
  height: 100%;
  overflow-x: hidden;
}

.formdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  width: 600px;
}
.form-control{
  background-color: transparent;
  outline: 0;
}

